@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: "SF Pro", "Symbol Regular", Impact, Montserrat, system-ui,
      sans-serif;
  }
} */

@layer components {
  .contactInput {
    @apply w-full outline-none border-b font-semibold border-mossy_glen-500 text-misty_mountains-100/80 caret-sunlit_meadow-300 placeholder-misty_mountains-100/50 hover:placeholder-misty_mountains-100/80 transition-all focus:border-misty_mountains-300 focus:text-misty_mountains-100 hover:border-misty_mountains-300 xs:rounded-xl rounded-md bg-mossy_glen-950/20 px-10 py-1 xs:h-auto xs:py-5 tracking-wide duration-500 ease-savage-sig-2 hover:shadow-lg hover:shadow-misty_mountains-100/20;
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-5000 {
    animation-delay: 5s;
  }
}

.middle {
  border: 1px solid rgba(255, 0, 0, 0.5);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* rotate: -90deg; */
  /* border: 1px solid red; */
  top: 50%;
  left: 50%;
  width: 5000px;
  transition: all 1s ease-in-out;
  /* transform: translate(-64.275%, -35.201%); */
  transform: translate(-64.195%, -35.201%);
  /* transform: translate(16.76%, -65.99%); */
}

.toggled .arch > div {
  transform: rotate(90deg);
}

.toggled {
  /* transform: translate(-72.429%, -72.339%); */
  transform: translate(-72.349%, -72.339%);
  /* transform: translate(8.57%, -103.1%); */
}

/* .parentcenter:hover .childcenter {
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(53px, 51px);
    }
    100% {
        transform: translate(0, 0);
    }
} */

.arch {
  width: 100%;
  position: relative;
  background: rgba(0, 255, 0, 0.01);
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
}

.arch:before {
  content: "";
  display: block;
  padding-top: 61.80339887498948482%;
  /* border: 2px dotted rgba(31, 161, 93, 1); */
  border: 1px solid rgba(31, 161, 93, 1);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 100%;
  width: 61.80339887498948482%;
}

.arch > div {
  position: absolute;
  top: 0;
  left: 100%;
  width: 61.80339887498948482%;
  transform-origin: 0 0;
  transform: rotate(130deg);
}
